h1{text-align: center; background-color: rgb(154, 210, 231);
}
#submit-btn{background-color: rgb(20, 134, 134); 
text-align: center;}
.main{text-align: center; 
background-color: burlywood;}
.from{color: rgb(1, 1, 12);}